body{
	margin: 0px;
	padding: 0px;
	background-color:  #ecf2f9;#ebf0fa;
	font-family: sans-serif, Brush Script MT,Edwardian Script ITC ;
}

#mainblock{
	width: auto;
	height: auto;
//	border: 1px solid black;
	padding: 0px;
	float: left;
}
#titlebox{
				float: left;
				width: 99.8%;
			    height: 130px;
				background-color: #383838;
				margin-top: 15px;
				box-shadow: 2px 3px 2px 2px grey;
}
#logo{

	float: left;
	border: 1px solid black;
	text-align: center;
	margin: 16px 550px 16px 550px;
	padding: 0px;
}

#navbar{

	display: list-item;
//	border: 1px solid black;
    width: 100%;
    height: 40px;
    float: left;
    background: linear-gradient(to left, #ecf2f9, #d9e6f2);
    margin-top: 0px;
}

#navbar ul{
	float: left;
	list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {float: left;}

#navbar ul li a{

    display: block;
    color:  black;
    text-align: center;
    padding: 10px 52px;
    text-decoration: none;
    margin-left: 0px;
    box-shadow: -2px 1px 2px -1px  #c6d9ec;
    font-size: 14px; 
    text-shadow: 1px 1px 1px grey;
}

#navbar ul li a:hover:not(.active) {background-color: #b3c6ff;
	font-size: 18px;
	color: white;
}

#navbar ul li a.active {background-color: black;}

#navbar ul li.right {float: right;}

#faq{

	width: 100%;
	height: 50px;
//	border: 1px solid black;
	float: left;
	margin-top: 25px;
	background-color: white;
}

#faq img{

	width: 100px;
	height: 50px;
	margin-left: 50px;
	margin-top: 0px;
	float: left;
}

#icon p{							
	color: #4d79ff;
	float: right;
	padding-right: 10px;
}
#icon img{

	width: 50px;
	height: 50px;
	float: right;
	padding: 15px;
	padding-right: 20px;
}
#faq h1{
	float: left;
	margin-left: 20px;
	line-height: 10px;
}


#content{
	width: 96%;
	height: auto;
//	border: 1px solid red;
	margin-left: 10px;
	float: left;
	margin-top: 34px;
	margin-left: 40px;
}
#questionblock{

	margin-top: 25px;
//	border: 1px solid blue;
	width: 75%;
	height: auto;
	float: left;
	margin-left: 135px;
}
.questions{
	margin-top: 10px;
//	background-image: url("../images/background9.jpg");
	width: 900px;
	height: 65px; 
	float: left;
	box-shadow: inset 0px 2px 2px 2px #99bcff;#484848;
}
.questions p{
	margin-left: 18px;
	float: left;
}
.q img{
	width: 45px;
	height: 40px; 
	float: left;
	padding: 10px;
	margin-top: 3px;
}
.yellowgif img{
	width: 65px;
	height: 58px;
	padding-left: 3px;
	margin-top: -5px;
}
.answers{
	display: none;
	margin-top: 10px;
//	background-image: url("../images/background9.jpg");
	width: 900px;
	height: 65px; 
	float: left;
	box-shadow: inset 0px 2px 2px 2px #484848;#99bcff;
	background-color: #b3cdff;
}
.answers p{
	margin-left: 20px;
}



#footer{

	width: 100%;
	height: 100px;
	background-color: #181818;
	border: 1px solid black;
	margin-top: 25px;
	color: #4d79ff;#BEBEBE;
	border: 1px solid black;	
	float: left;
}

#endline {

		width: 100%;
		height: 25px;
		margin-top: 70px;

}

#endline p{
	margin: 0;
	line-height: 25px;
	text-align: center;

}
#info{

	float: left;
	margin: 0px;
	font-size: 12px;
	margin-left: 50px; 
	margin-top: 20px;
}

#info p{
margin: 0px;
}

#contactus h4{
	margin-left: 100px; 
	float: left;
}