<!DOCTYPE html>
<html>

<head>

	<title> E-Waste Manager | About Us </title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/aboutus.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/aboutus.js"></script>

</head>

<body>
		<div id="mainblock">

    	<!-- HEADING SECTION -->
		
				<div id="titlebox">
			
					<img id="logo" type="image/png" src="../images/logonew.png" />
				
				</div>


		<div id="navbar">
				<ul>
					<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>	
				</ul>
			</div> 


		<!-- CONTENT PART --> 


<div id="contentbox">


		<div id="aboutus">

			<img type="image/gif" src="../images/bullet3.gif" />
			<h1> About Us</h1>
		</div> 



		<div id="heading1">

			<img type="image/gif" src="../images/squareicon.gif" />
			<h2> WHAT ARE WE ? </h2>

		</div>

		<div id="ETdoes">		

				<div id="theory1">
					<p>we are a free recycling service for all types of E-Waste ).</p>
					<p> The initiative is to aim at reducing the accumulation of used and discarded electronic and electrical equipments, which most end up in landfills or partly recycled in a unhygienic conditions by backyard recyclers and then partly thrown into waste streams damaging the environment.The objective is to create an opportunity to transfer waste into socially and industrially beneficial raw materials like valuable metals, plastics and glass using simple, cost efficient, home grown, environmental friendly technologies suitable to Indian Conditions.</p>
				</div>


				<div id="diagramblock">

				<div class="image">	<img id="trash" type="image/jpg" src="../images/waste8.jpg" /> <p id="label1"> Collect from society</p> </div>
				<div class="arrow">	<img id="downarrow" type="image/png" src="../images/arrow.gif" /> </div>
				<div class="image" id="middleimgblock">	<img id="frontimg" type="image/png" src="../images/ETfront.jpg" /> <p> Free Pickup</p> </div>
				<div class="arrow">	<img id="uparrow" type="image/png" src="../images/arrow.gif" /> </div>
				<div class="image">	<img id="recycle" type="image/png" src="../images/recycle.jpg" /> <p id="label2"> Recycle of E-waste </p> </div>

				</div>
				
		</div>	



		<div id="heading2">

			<img type="image/gif" src="../images/squareicon.gif" />
			<h2> WHAT IT TAKES ? </h2>

		</div>

		<div id="whatwetake">

			<div id="theory2">
				<p> The following products CAN be dropped-off for recycling : </p>
				<ul>
					<li> Personal and laptop computers and all cables </li>
					<li> Tablets, notebooks and palmtops </li>
					<li> Computer monitors and parts (e.g. internal hard drives and CD drives) </li>
					<li> Computer peripherals and accessories (e.g. mice, keyboards, web cameras, USBs and modems) </li>
					<li> Printers, faxes, scanners and multi-functional devices </li>
					<li> All televisions </li>
				</ul>
			</div>

			
				<img type="image/png" src="../images/ewaste4.png" />
			

		</div>   



		<div id="heading4">

			<img type="image/gif" src="../images/squareicon.gif" />
			<h2> HOW DOES IT WORK ? </h2>

		</div>

		<div id="working">		

   		<!--	<div id="theory4">
					<p>ElectroTrash is a free recycling service for computers, computer accessories and TVs (e-waste).</p>
				</div> -->

				<img type="image/jpg" src="../images/process1.png" />

		</div>		


		<div id="heading3">

			<img type="image/gif" src="../images/squareicon.gif" />
			<h2> HOW IT BENEFITS YOU ? </h2>

		</div>

		<div id="howbenefits">
	

			<div id="theory3">
				
				<p> Free Pick Up Service, We Are Creating A GO GREEN Environment. </p>
				<p> Help Yourself, "Recyle Reuse Reduce" & REQUEST With us." <p>
				<p>	Sell or Donate Your Electronic Waste etc. </p>
				
				<img id="donate" type="image/png" src="../images/donate.png" />
				
				<div id="column2">
					<ul>
						<li> EARN MONEY </li>
						<li> SERVE ENVIRONMENT </li>
						<li> HELP YOURSELF </li>
						<li> GO GREEN </li>
						<li> BE AN OPTIMIST </li>
					</ul>	
				</div>

			</div>


				<!--		<div id="column3">
				<div id="gif">	<img type="image/gif" src="../images/pleaserecycle.gif" />
				<img id="earth" type="image/jpg" src="../images/earth3.jpg" />
				</div>			-->
				
		</div>


</div>


		<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> <h4> CONTACT US </h4> </div>
			<div id="info">

			<p> 123, XYZ Street </p>
			<p>	Mobile: 9687871234	</p>
			<p>	Email: ewaste@manager.com.in </p>
			
			</div>

			<div id="endline"> <p> @2020 - EwasteManager </p> </div>

		</div>
		


	</div>

</body>

</html>