<!DOCTYPE html>
<html>
<head>

	<title> E-Waste Manager | Contact Us </title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/contactus.css"/>
<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/contactus.js"></script>

</head>

<body>

    	<!-- HEADING SECTION -->

			<div id="titlebox">
			
					<img id="logo" type="image/png" src="../images/logonew.png" />
				
				</div>


		<div id="navbar">
				<ul>
					<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>	
				</ul>
		</div> 

		

		<div id="contact">

			<img type="image/gif" src="../images/contactus2.gif" />
			<h1> Contact Us </h1>

		</div> 


	<div id="mainblock">

			<img type="png" src="../images/contact-pages.png">
			<div id="details">
				<img src="../images/building.png">
				<hr>
				<h5> 123, Sitapura, Industrial Area, Jaipur,
					Rajasthan, India</h5>

					<h5> PIN CODE : 302023 <br/>
						TOLL FREE NUMBER : 1800 1233 1323
					 </h5>
			</div>

			<div id="mail">
 				<h4> EMAIL : ewaste@mangement.com.in </h4>
 				<h4> PHONE : 9641234448 </h4>
			</div>
	</div>

		<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> 			
			</div>

			<div id="endline"> <p> @2023 - EwasteManager </p> </div>

		</div>



</body>

</html>