 <!DOCTYPE html>
<html>
<head>

	<title> E-Waste Manager | FAQ </title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/faq.css"/>
<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/faq.js"></script>

</head>

<body>

	<div id="mainblock">

				<div id="titlebox">
					<img id="logo" type="image/png" src="../images/logonew.png" />
				</div>


			<div id="navbar">
					<ul>
						<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>			
					</ul>
		</div> 

		

			<div id="faq">
			<img type="image/gif" src="../images/qgif7.gif" />
			<h1> Frequently Asked Questions </h1>
			</div> 



			<!-- CONTENT PART -->

		<div id="content">
			
			<div id="questionblock">
				<div class="questions" id="box1">
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> Are there additional charges for pick up ?</p> </div>
				<div class="answers" id="1box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> No, We don't charge any aditional cost for your request. </p> </div>

				<div class="questions" id="box2">
			<!--	<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div> -->
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> Why to choose US ? </p>  </div>
				<div class="answers" id="2box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> As you are not aware, where your waste goes, how much waste have you already sold!? We can provide you that. </p>  </div>

				<div class="questions" id="box3">
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> How to set up the request ? </p>  </div>
				<div class="answers" id="3box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> You can setup the request by either visiting our website or by call. We'll contact you within 24hours. </p>  </div>
				
				<div class="questions" id="box4">
			<!--	<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div> -->
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> What should be the minimum weight of scrap tp set up a request ? </p>  </div>
				<div class="answers" id="4box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> Yes, It's mandatory that the scrap should be minimum of 1kg of weight. Please be sure about it. </p>  </div>

				<div class="questions" id="box5">
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> May I join the cause ? </p>  </div>
				<div class="answers" id="5box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> Yes, you may join this social cause, for that please draft us a mail so that we can look into this. </p>  </div>
			
				<div class="questions" id="box6">
			<!--	<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div> -->
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> Which weighing machine you are using ? </p>  </div>
				<div class="answers" id="6box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> We are using Electronic/Digital weighing Machine. We will Weight your Material infront of you and pay you accordingly. </p>  </div>
				
				<div class="questions" id="box7">
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> Any identification to recognize your service man ? </p>  </div>
				<div class="answers" id="7box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> Yes, our service man will be in proper dress code. You may ask him to show his identity card. </p>  </div>

				<div class="questions" id="box8">
			<!--	 -->
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> Will I get any receipt for what I sold ? </p>  </div>
				<div class="answers" id="8box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> Yes, definitely you'll get a proper reciept for the material you have sold. Or ask for the reciept from the service man. </p>  </div>

				<div class="questions" id="box9">
				<div class="q"> <img type="image/png" src="../images/q1.png" /> </div>
				<p> Can I register my society ? </p> </div>
				<div class="answers" id="9box">
				<div class="q"> <div class="yellowgif"><img type="image/gif" src="../images/quesgif.gif" /></div> </div>
				<p> Yes, you can register your society and we will provide you the service accordingly.</p>  </div>
			</div>
			
			<div id="rightblock.">
				
			</div>




		</div>	


	</div>		  



	<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> <h4> CONTACT US </h4> </div>
			<div id="info">

			<p> 123, XYZ Street </p>
			<p>	Mobile: 9687871234	</p>
			<p>	Email: ewaste@manager.com.in </p>
			
			</div>

			<div id="endline"> <p> @2023 - EwasteManager </p> </div>

		</div>



</body>

</html>