<!DOCTYPE html>
<html>
<head>

	<title> E-Waste Manager | Location </title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/findlocation.css"/>
<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/findlocation.js"></script>

</head>

<body>

    	<!-- HEADING SECTION -->

			<div id="titlebox">
			
					<img id="logo" type="image/png" src="../images/logonew.png" />
				
				</div>


		<div id="navbar">
					<ul>
						<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>				
					</ul>
		</div>

		

		<div id="signup">

			<img type="image/gif" src="../images/location.gif" />
			<h1> Find Location </h1>
		</div> 


	<div id="mainblock">

			<!--<iframe id="mainblock1" src="http://www.gosur.com/map/?q=City%20Map%20Bhopal.&gclid=Cj0KEQjw0IvIBRDF0Yzq4qGE4IwBEiQATMQlMYmMwlTcQTTLJlNh3nqrWBRF-m2nlDlafUhrmNbwNV0aAjWu8P8HAQ"></iframe>
			-->

			<iframe id="mainblock1" src="https://www.google.co.in/maps/place/Bhopal,+Madhya+Pradesh/@23.2438345,77.3713773,13z/data=!4m13!1m7!3m6!1s0x397c428f8fd68fbd:0x2155716d572d4f8!2sBhopal,+Madhya+Pradesh!3b1!8m2!3d23.2599333!4d77.412615!3m4!1s0x397c428f8fd68fbd:0x2155716d572d4f8!8m2!3d23.2599333!4d77.412615"></iframe>
	</div>

		<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> <h4> CONTACT US </h4> </div>
			<div id="info">

			<p> 123, XYZ Street </p>
			<p>	Mobile: 9687871234	</p>
			<p>	Email: ewaste@manager.com.in </p>
			
			</div>

			<div id="endline"> <p> @2023 - EwasteManager </p> </div>

		</div>



</body>

</html>