<!DOCTYPE html>
<html>
<head>

	<title> Recycle </title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/recycle.css"/>
<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/template.js"></script>

</head>

<body>

    	<!-- HEADING SECTION -->

			<div id="titlebox">
			
					<img id="logo" type="image/png" src="../images/logonew.png" />
				
				</div>


		<div id="navbar">
					<ul>
						<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>				
					</ul>
		</div>


		<div id="titlebar">

		</div> 


	<div id="mainblock">
	<center>
	<fieldset>
			

			<form id='frm_NewJo<center> <img id="logo" type="image/png" src="../images/logo.png" /> </center>in' method='post' action=''>
			
					<center>
					<table  cellspacing='6' cellpadding='8'>
	
							<tr>
							<div id="td1"> <td><label> FIRST NAME : </label></td> </div>
								<td><input  type='text' name='txtName' id='txtName' placeholder='First Name'/></td>
							</tr>
							
							<tr>
								<td><label >LAST NAME : </label></td>
								<td><input  type='text' name='txtLName' id='txtLName' placeholder='Last Name'/></td>
							</tr>
							
							<tr>
								<td>
									<label> MOBILE NUMBER : </label>
								</td>
								<td>
									<input type='hidden' name='txt_hmobile' id='txt_hmobile' value=''>
									<input type='text'  name='txtContact' id='txtContact'  placeholder='Mobile Number'/></td>
								</td>
							</tr>
							<tr>
							   <td><label> EMAIL ID : </label></td>
							   <input type='hidden' name='txt_hemail' value=''>
							  <td><input  type='text' name='txt_Email_Id' id='txt_Email_Id' placeholder='Email address' autocomplete='off'/></td>
							</tr>
							
						 
						 <tr>
							  
							  <td><label>ADDRESS : </label> </td>
							  <td>
								<input type="text" name='User Address' placeholder='Type your Address here'>
							  </td>
							 
						 </tr>
						
						<tr>
							<td><label> SELECT YOUR ACCOUNT TYPE : </label> </td>
							<td>
							<div id="dropdown">
							  <select> <option value=""> Individual/Home </option>
							   <option value=""> Society </option>
							   <option value=""> Insititue </option>
							   <option value=""> Mall/Shop </option>
							   <option value=""> Bank </option> 
							   <option value=""> Corporate Office </option> </select>
							</div>
							</td>
						</tr>


						<tr>
							<td><label> UPLOAD YOUR IMAGE : </label> </td>
							  <td><input type='file' name='img_upl'/></td>
						</tr>

						<tr>
							<td colspan='7'><center><input type="submit" value="Submit"></center></td>
						</tr>
					</table
				</center> 

					
			
		</form>

	</fieldset>
	</center>	


<!--	<div id="rightblock">

	<img src="../images/waste.png">

	</div>  -->



	</div>

		<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> <h4> CONTACT US </h4> </div>
			<div id="info">

			<p> 123, XYZ Street </p>
			<p>	Mobile: 9687871234	</p>
			<p>	Email: ewaste@manager.com.in </p>
			
			</div>

			<div id="endline"> <p> @2023 - EwasteManager </p> </div>

		</div>



</body>

</html>