<!DOCTYPE html>
<html>
<head>

	<title> E-Waste Manager | Services</title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/services.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/services.js"></script>

</head>

<body>

    	<!-- HEADING SECTION -->

			<div id="titlebox">
			
					<img id="logo" type="image/png" src="../images/logonew.png" />
				
				</div>


		<div id="navbar">
					<ul>
						<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>				
					</ul>
		</div>


		<div id="titlebar">

			<img type="image/gif" src="../images/services2.gif" />
			<h1> Services </h1>
		</div> 


	<!-- CONTENT PART -->

	<div id="mainblock">

			<div id="content">

				<div id="textbox">	

				<h2>We Offer A Full Spectrum Of Technology Life Cycle Management Services With A Focus On Electronics Recycling, Data
					Destruction, And Value Recovery. </h2>	

				<h2> VALUE RECOVERY : </h2>

				<h3> Our Guarantee !! </h3>
				<p> All our services and processes are in full compliance with state, and center regulations.
				All recycling processes as well as downstream vendors have been recommended by third party auditing firms.
				Your confidential data is properly managed and securely destroyed
				Ww work in a safe environment. </p>
				<p> We work thoroughly and efficiently to maximize your IT asset value and reduce risk. We will remove all asset tags, securely destroy all confidential data from hard drives and/or electronic media, and will completely test, refurbish, and remarket your IT assets, effectively reducing your overall costs and improving your ROI. </p>

				<h3> Thorough Reporting !!  </h3>
				<p>Our transparent process provides detailed information back to our clients at every step throughout the service cycle. We generate a thorough report on every product we receive, whether the items are being refurbished and reused, or dismantled and recycled.</p>

				<h3> Peace of Mind !!  </h3>
				<p>We monitored everything 24/7, and our technicians are thoroughly screened and participate in on-going training to maintain the highest level of security standards. EWASTE+ ITAD services are fully integrated with our secure NAID Data Destruction procedures for ultimate peace of mind.</p>


				<h2> DATA DESTRUCTION : </h2>

				<h3> SECURE AND EFFECTIVE MANAGEMENT OF CONFIDENTIAL DATA ON COMPUTERS AND OTHER ELECTRONICS IS A TOP CONCERN FOR ANY ORGANIZATION.</h3>
				<p> Our rigorous data destruction process includes secure collection and handling, documented chain-of custody, asset inventory and serial number tracking, and ensures that your confidential information is never exposed and that your organization is protected from risk. </p>
				<h3> OPTIONAL NAID-CERTIFIED SERVICES </h3>
				<p> -Dedicated truck pick up <br/>
				-Locked bins and totes for loose data devices <br/>
				-Videotaped or witnessed destruction </p>


				<h2> ACCEPTABLE / UNACCEPTABLE MATERIALS : </h2>				
				
				<h4> ACCEPTABLE : </h4>	
			 	<p class="spacing">
			 	Batteries,
				Business Machines,
				Cables & IT accessories,
				Cameras,
				Computer peripherals (mice, keyboards, webcams, speakers, microphones),
				Computers,
				Copiers,
				Electronics Scrap,
				Fax Machines,
				Fluorescent Lamps,
				Gaming devices,
				GPS units,
				Lab & medical electronics,
				Laptops,
				Mainframe/ Midrange,
				Mobile devices (cell Phones, Tablets, PDAs, MP3 players),
				Monitors,
				Networking Gear,
				Phone systems,
				Power supplies,
				Printers & plotters (ink, toner, & cartridges),
				Routers & switches,Scanners,Scientific Equipment,Security equipment,Servers & server racks,Stereo equipment,Storage devices (external hard drives, solid state drives, SD cards, memory cards, card readers),Telecommunications Equipment,Televisions,Terminals,Typewriters,UPS,Video & audio equipment,Wiring & Cabling </p>

				<h4> UNACCEPTABLE : </h4>
			 	<p class="spacing">	
				Carbon monoxide detectors
				Dehumidifiers
				Devices containing liquid mercury (thermostats, switches, medical devices, thermometers)
				Freon containing devices/materials (refrigerators, air conditioners, dehumidifiers)
				Gas powered equipment
				Household hazardous waste
				Large appliances (stoves, washers, dryers, dishwashers)
				Liquids
				PCB ballasts
				Propane tanks
				Radioactive materials
				Small appliances (toasters, vacuum cleaners, coffee makers, irons, hair dryers)
				Smoke detectors
				Wet cell batteries</p>
				
				</div>
		</div>


			<div id="rightblock">

				<img type="images/jpg" src="../images/bettertomorrow.jpg" />
				<img type="images/png" src="../images/message3.png" />
				<img type="images/png" src="../images/message2.png" />
				<img type="images/jpg" src="../images/3r.jpg" />
				<img type="images/jpg" src="../images/scrap.png" />

			</div>

	</div>

		<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> <h4> CONTACT US </h4> </div>
			<div id="info">

			<p> 123, XYZ Street </p>
			<p>	Mobile: 9687871234	</p>
			<p>	Email: ewaste@manager.com.in </p>
			
			</div>

			<div id="endline"> <p> @2023 - EwasteManager </p> </div>

		</div>


</body>

</html>