<!DOCTYPE html>
<html>
<head>

	<title> E-Waste Manager | Why US?</title>
	<link rel="icon"  type="image/jpg"  href="../images/logo.png"/>
	<link rel="stylesheet"  type="text/css"  href="../css/whyus.css"/>
<!--	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script src="../javascript/whyus.js"></script>

</head>

<body>

    	<!-- HEADING SECTION -->

			<div id="titlebox">
			
					<img id="logo" type="image/png" src="../images/logonew.png" />
				
				</div>


		<div id="navbar">
					<ul>
						<li><a href="home.html"> HOME </a></li>
						<li><a href="services.html"> SERVICES </a></li>
						<li><a href="findlocation.html"> FIND LOCATION </a></li> 
						<li><a href="aboutus.html"> ABOUT US </a></li>
						<li><a href="faq.html"> FAQ </a></li>	
						<li><a href="contactus.html"> CONTACT US </a></li>
						<li><a href="404.html"> T&Cs </a></li>				
					</ul>
		</div>


		<div id="titlebar">

			<img type="image/gif" src="../images/qgif10.gif" />
			<h1> Why Us ? </h1>
			<div id="icon">
			<!--	<p> MENU </p>  -->
				<img type="images/png" src="../images/menui.png" />
			</div>

		</div> 


	<div id="mainblock">


			<img src="../images/bg5.jpg">

	 <div id="content">

		<p>	We are the region’s foremost leader in E-WASTE recycling. <p>

		<p>	Given the sensitive data, valuable materials, and environmentally hazardous substances that may be found inside your electronics, how 	you recycle and dispose of your electronic waste is critical.</p>

		<h2>	ELECTROTRASH UNDERSTANDS YOUR RISKS AND YOUR CONCERNS... WE CAN HELP YOUR BUSINESS DISPOSE OF ELECTRONICS IN A MANNER THAT'S SECURE, SAFE, ENVIRONMENTALLY RESPONSIBLE, AND IN COMPLIANCE WITH GOVERNMENT LAWS AND REGULATIONS.</h2>

	<h3>	WE ARE: </h3>

	<p> CONVINIENT & EFFICIENT : Our expert team follows a simple, proven process in order to get the job done quickly and economically. </p>
	<p> DEPENDABLE : Our Client Services team is easy to reach and provides a customized plan just for you.</p>
	<p> TRANSPARENT : You’ll receive extensive documentation, customized for you and your business requirements. </p>

	  
	  </div>	

	</div>

		<!-- FOOTER PART -->
	
		<div id="footer">

			<div id="contactus"> <h4> CONTACT US </h4> </div>
			<div id="info">

			<p> 123, XYZ Street </p>
			<p>	Mobile: 9687871234	</p>
			<p>	Email: ewaste@manager.com.in </p>
			
			</div>

			<div id="endline"> <p> @2023 - EwasteManager </p> </div>

		</div>


</body>

</html>